<%= include('entity-management') %>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <div class="elements_definition">
    <p>Puede utilizar cuentas de servicios externos para definir las cuentas de facebook, twitter, picasa que se hayan de acceder o sincronizar desde el sistema.</p>
  </div>

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%">Id</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
         <th class="table-header-title" scope="col" style="width:30%">Type</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell"><%%= entity.description %></td>
      <td class="table-cell"><%%= entity.type %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Id</div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.id %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Type</div> <div class="entity-fieldvalue"><%%= entity.type %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">User</div> <div class="entity-fieldvalue"><%%= entity.username %></div> </div>              
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title">External Service Account</h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <div class="formrow">
            <label for="id" class="fieldtitle">Id <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="32" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="description" class="fieldtitle">Description</label>
            <textarea name="description" id="description" class="fieldcontrol"><%% if (entity) { %> <%%= entity.description %> <%% } %></textarea>
          </div>
          <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>
                
          <div class="formrow">
            <label for="type" class="fieldtitle">Type</label>
            <input type="text" maxlength="15" id="type" name="type" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.type %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="username" class="fieldtitle">Username</label>
            <input type="text" maxlength="32" id="username" name="username" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.username %>" <%% } %> />
          </div>
          
          <div class="formrow">
            <label for="password" class="fieldtitle">Password</label>
            <input type="password" maxlength="32" id="password" name="password" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.password %>" <%% } %> />
          </div>          

        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
  function ExternalServiceAccountHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onEdit = function(entity) {
      $('#id').attr('readonly', true);
      $('#description').focus();  	
      this.configForm(entity);
    };
  
    this.onNew = function() {
  	  $('#id').focus();
  	  this.configForm(null);
    }
    
    this.configForm = function(entity) {
             
         // Limit the text area length
         YsdForms.limit_text_area_content_size(document.getElementById('description'), 256, 
            function (content_remain) {
              document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
            }
         );    
    	
    }
  	
  };
  
  var urls = { 
  	           query_url  : '/external-service-accounts',
    	       create_url : '/external-service-account',
  	           update_url : '/external-service-account',
  	           delete_url : '/external-service-account',
  	           get_url    : '/external-service-account'
  	         };
  
  var externalServiceAccountHook = new ExternalServiceAccountHook();
  var externalServiceAccountsManaer = new EntityManagement(urls, 'external service account', 12, externalServiceAccountHook);
 
  $('.entity-title').html('External service accounts');
  
  
</script>
